
{% extends 'layout.html' %}

{% block body %}

<style>
   
    #opciones1{
        display: inline-block;
        margin-left: 30px;
    }
    #opciones2{
        display: inline-block;
        margin-left: 30px;
    }
    #opciones3{
        display: inline-block;
        margin-left: 30px;
    }

    #boton{
        margin-left: 690px;
    }
    table{
        text-align: center;
        border-collapse: collapse;
        width: 100%;
    }


    th, td{
        border: solid 1px black;
        padding: 20px;
    }


    ._100{
        background: rgba(0, 128, 0, 1);
        color: white;
    }
    ._90_100{
        background: rgba(0, 128, 0, 0.8);
        color: white;
    }

    ._80_90{
        background: rgba(0, 128, 0, 0.7);
        color: black;
    }

    ._70_80{
        background: rgba(0, 128, 0, 0.6);
        color: black;
    }

    ._50_70{
        background: rgba(0, 128, 0, 0.5);
        color: black;
    }

    ._30_50{
        background: rgba(0, 128, 0, 0.4);
        color: black;
    }

    ._10_30{
        background: rgba(0, 128, 0, 0.2);
        color: black;
    }

    ._0_10{
        background: rgba(0, 128, 0, 0.05);
        color: black;
    }

    .string{
        background-color: #246355;
        color: white;
    }

    thead{
        background-color: #246355;
        border-bottom: solid 5px #0F362D;
        color: white;
    }





</style>


<!--
<h1>Procesos de Similitud</h1><br>

<form action="/calcular" method="POST">
<div id="opciones1">
<input type="radio" class="btn-check" name="options" id="option1" value="1" autocomplete="off" >
<label class="btn btn-outline-success" for="option1">Coseno</label>
</div>

<div id="opciones2">
<input type="radio" class="btn-check" name="options" id="option2" value="2" autocomplete="off">
<label class="btn btn-outline-success" for="option2">Jaccard</label>
</div>
-->

<!--
<div id="opciones3">
<input type="radio" class="btn-check" name="options" id="option3" value="3" autocomplete="off">
<label class="btn btn-outline-success" for="option3">Similitud Forma</label>
</div>


<button id="boton" type="submit" class="btn btn-success">Calcular</button>

</form>

-->

<h1>{{nombre}}</h1>
<br>
<h3>Códigos</h3>
<div id="main-container">
<table>
    <thead>
        <tr>
            {% for nombre in encabezado2 %}
            <td>                
                {{ nombre }}
            </td>
            {% endfor %}           
        </tr>
    </thead>
    <tbody>
        
        <tr>
            {% for nombreAr in nombresArchivos %}
                <td>{{ nombreAr}}</td>
            {% endfor %}
            
        </tr>
       
    </tbody>
</table>
</div>
<br>



<table>
    <thead>
        <tr>
            {% for nombre in encabezado %}
            <td>
                {{ nombre }}
            </td>
            {% endfor %}           
        </tr>
    </thead>
    <tbody>
        {% for fila in matriz %}
        <tr>
            {% for valor in fila %}
                {%if valor is number%}
                   {% if valor >= 0.9999 %}
                        <td class="_100 t">{{ valor}}</td>
                    {% elif valor >= 0.9 %}
                        <td class="_90_100 t">{{ valor}}</td>
                    {% elif valor >= 0.80 %}
                        <td class="_80_90 t">{{ valor}}</td>
                    {% elif valor >= 0.70 %}
                        <td class="_70_80 t">{{ valor}}</td>
                    {% elif valor >= 0.50 %}
                        <td class="_50_70 t">{{ valor}}</td>
                    {% elif valor >= 0.30 %}
                        <td class="_30_50 t">{{ valor}}</td>
                    {% elif valor >= 0.10 %}
                        <td class="_10_30 t">{{ valor}}</td>
                    {% elif valor >= 0 %}
                        <td class="_0_10 t">{{ valor}}</td>
                {%endif%}
                   
                {%elif valor is string%}
                    <td class="string">{{ valor}}</td>
                {%endif%}
            {% endfor %}
            
        </tr>
        {% endfor %}
    </tbody>
</table>
<br>
<br>
<br>






{% endblock %}